$borderBox      :1px solid #cee4e4;
$borderRadiusBox:4px;
$bgBox          :azure;


.mainAdd {
    display       : flex;
    flex-direction: column;
    background    : #101939;
    padding       : 12px 6px;

    nav {
        width           : 100%;
        height          : 40px;
        // margin-bottom: 5px;

        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : row-reverse;

        a {
            height         : 35px;
            width          : 250px;
            margin         : 0 1px;
            text-decoration: none;
            background     : #1f316f;
            border-radius  : 8px 8px 0 0;
            display        : flex;
            justify-content: center;
            align-items    : center;
            color          : #37F67A;
            font-size      : 18px;
        }

        .MA_active {
            //mainAdd
            background   : #2C52A5;
            border       : 2px solid #3460C1;
            border-bottom: none;
            position     : relative;
            z-index      : 2;
        }

        .MA_passive {
            //غیر فعال
            color: #24ab79;
        }

        // a.a_lessonSec {
        //     color: #167378;
        // }
    }

    .content_mainAdd {
        margin          : -4px 0 0;
        padding         : 20px 8px;
        background-color: #2C52A5;
        border-top      : 2px solid #3460C1;
        border-radius   : 4px;
    }
}

.sectionAED {
    .navAED {
        width           : 100%;
        height          : 35px;
        // margin-bottom: 5px;

        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : row-reverse;

        a {
            height         : 30px;
            width          : 200px;
            margin         : 0 1px;
            text-decoration: none;
            background     : #1f316f;
            border-radius  : 3px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            font-size      : 16px;
            border-radius  : 5px 5px 0 0;
        }

        .SAED_active {
            //sectionAddEditDelete
            color        : #A4D4DB;
            background   : #273E8C;
            border       : 2px solid #3B8A96;
            border-bottom: none;
            position     : relative;
            z-index      : 2;
        }

        .SAED_passive {
            color: #77a6ce;

        }
    }

    .SAED_content {
        //sectionAddEditDelete
        min-height     : 360px;
        margin         : -4px 0 0;
        background     : #273E8C;
        border-top     : 2px solid #3B8A96;
        border-radius  : 4px;
        position       : relative;
        display        : flex;
        justify-content: center;

    }
}

.select_book {
    width     : 300px;
    margin-top: 140px;

    button {
        width     : 100%;
        direction : rtl;
        background: #0067b1;
    }

    button:focus {
        background: #0067b1;

    }

    ul {
        width      : 100%;
        max-height : 230px;
        overflow   : auto;
        // overflow: visible;
        margin     : 0;
        padding    : 0;

        li {
            width     : 100%;
            padding   : 2px 0;
            cursor    : pointer;
            text-align: center;
        }

        li:hover {
            background-color: #c3daec;
        }
    }

    // نماد انتظار 
    .select_spinner {
        padding: 2.70px 0;
    }

    .seletct_alert {
        color     : $orange-500;
        text-align: center;
        padding   : 3px 0;
    }
}


.AE_Form {
    width         : 400px;
    margin        : 40px 0;
    padding       : 0 62px 25px;
    display       : flex;
    flex-direction: column;
    direction     : rtl;
    background    : #30356f;
    border-radius : 6px;

    .formAlert {
        // دیو آلرت میزبان دیو موفقیت ثبت و یا خطاهای دیتابیس وامثالهم
        min-height   : 25px;
        padding      : 3px;
        margin       : 5px 0 3px;
        border-radius: 2px 2px 0 0;
        font-size    : 12px;
    }

    .input_text {
        direction: rtl;
    }

    ::placeholder {
        color: #cacaca;
    }

    .formError {
        // استایل دیو خطا، این دیو میزبان دیو خطا می‌باشد
        min-height   : 25px;
        padding      : 3px 0;
        margin       : 2px 0 5px;
        color        : #e90d0d;
        border-radius: 0 0 2px 2px;
        font-size    : 12px;
    }
    .btn_form{
        margin-bottom: 12px;
    }
}







.chunk {
    width           : 100%;
    margin-top      : 10px;
    padding         : 2px 5px 5px 5px;
    background-color: $bgBox;
    border          : $borderBox;
    border-radius   : $borderRadiusBox;
    display         : flex;
    flex-direction  : column;
    flex-wrap       : wrap;
}

.title {
    // background-color: blue;
    display      : flex;
    margin-bottom: 5px;

    // flex-direction: row;
    h6 {
        padding         : 3px 8px 3px 15px;
        background-color: #cce4e4;
        border-radius   : 4px;
    }
}

.content {
    display        : flex;
    flex-direction : row-reverse;
    justify-content: space-around;
}

.Cright,
.Cleft,
.Ccenter {
    width           : 350px;
    background-color: #e2eeee;
    border-radius   : 3px;
    align-items     : center;
    display         : flex;
    flex-direction  : column;
}

.Ccenter {
    width      : 100%;
    padding    : 0 20px;
    align-items: flex-end;
}

.dis {
    // توضیحات فرم
    width           : 200px;
    margin-top      : 5px;
    background-color: #f5ffff;
    color           : #3d3d8d;
    border-radius   : 2px;
    text-align      : center;
    direction       : rtl;
}

.contentTitle {
    width           : 100%;
    height          : 25px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #97c0c0;
    border-radius   : 3px 3px 0 0;
}

.Ccenter2 {
    align-items: center;

    .dis {
        width: calc(50% - 10px);
    }
}

// .select_book {
//     width     : 200px;
//     margin-top: 40px;

//     button {
//         width    : 100%;
//         direction: rtl;
//     }

//     ul {
//         width      : 100%;
//         max-height : 230px;
//         overflow   : auto;
//         // overflow: visible;
//         margin     : 0;
//         padding    : 0;

//         li {
//             width     : 100%;
//             padding   : 2px 0;
//             cursor    : pointer;
//             text-align: center;
//         }

//         li:hover {
//             background-color: #c3daec;
//         }
//     }

// // نماد انتظار 
// .select_spinner {
//     padding: 2.70px 0;
// }

// .seletct_alert {
//     color     : $orange-500;
//     text-align: center;
//     padding   : 3px 0;
// }
// }


/**
ویرایش یا حذف گروه
*/

.editDelete {
    width          : 100%;
    margin         : 70px 0 0;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    div.whichGroup {
        margin-bottom: 10px;
        color        : #345063;

        span {
            color: #1e6fa5;

        }
    }

    div.buttonEditDelete {
        width          : 200px;
        display        : flex;
        justify-content: space-evenly;

        button.edit_group {
            width: 80px;
        }

        button.delete_group {
            width: 80px;
        }
    }
}

.swalDelete {
    direction: rtl;

    div.bold {
        color    : #c59c6b;
        font-size: 24px;
    }
}

.addBookForm,
.addLessonForm,
.addLessonSecForm,
.addWordForm,
.addSentenceForm {
    width         : 200px;
    margin        : 15px 0;
    display       : flex;
    flex-direction: column;
    direction     : rtl;

    .formAlert {
        // دیو آلرت میزبان دیو موفقیت ثبت و یا خطاهای دیتابیس وامثالهم
        min-height   : 25px;
        padding      : 3px;
        margin       : 5px 0 3px;
        border-radius: 2px 2px 0 0;
        font-size    : 12px;
    }

    .input_text {
        direction: rtl;
    }

    ::placeholder {
        color: #cacaca;
    }

    .formError {
        // استایل دیو خطا، این دیو میزبان دیو خطا می‌باشد
        min-height   : 25px;
        padding      : 3px 0;
        margin       : 2px 0 5px;
        color        : #e90d0d;
        border-radius: 0 0 2px 2px;
        font-size    : 12px;
    }
}

.addLessonSecForm {
    width: 100%;

    input {
        width: 200px;
    }

    textarea {
        width  : 100%;
        border : 1px solid #bfd9d9;
        padding: 1px;
    }
}

.addSentenceForm {
    width          : 100%;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;

    .sentenceAlert {
        width          : 100%;
        display        : flex;
        justify-content: center;
    }

    .sentenceFormItem {
        width     : calc(50% - 10px);
        margin    : 0 5px;
        text-align: center;
    }

    .sentenceFormItem:nth-last-child(1) {
        input {
            width: 50%;
        }
    }
}

.labelTextarea {
    width           : 200px;
    display         : inline-flex;
    padding         : 0 8px;
    background-color: #bfd9d9;
    border-radius   : 4px 4px 0 0;
}

// نمایش آنلاین محتوای تایپ شده در ادیتور
.editorVal {
    margin-bottom   : 3px;
    padding         : 4px 2px;
    background-color: #fff;
}

.success {
    // مورد استفاده هنگامی که فرم به درستی ثبت می شود
    width           : 100%;
    padding         : 0 8px;
    color           : #026d37;
    background-color: #9bf7c9;
    text-align      : center;
}

.error {
    // مورد استفاده هنگامی که خطایی در فرم ایجاد می‌شود
    width           : 100%;
    padding         : 0 8px;
    color           : #e90d0d;
    background-color: #fcc9c9;
    text-align      : right;
}

.errorSentence {
    text-align: center;
}

// .sBTitle{
//     flex: 100%;
//     display: flex;
//     flex-direction: row-reverse;
//     // order: 1;
//     // flex-grow: 3;
//     h6{
//         padding:3px 8px 3px 15px;
//         background-color: #cce4e4;
//         border-radius: 4px;
//     }              
// }
// .sBRight , .sBLeft{
//     width: 350px;
//     padding: 0;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     text-align: center;
//     // flex: 200px;
// }
// .sBRight {
//     select{
//         margin: 8px auto;
//     }
// }
// .sBLeft{
//     form{
//         display: flex;
//         flex-wrap: wrap;
//         margin: 8px auto;
//     }
// }
// .sBRAndLTitle{
//     flex: 100%;
//     height: 40px;
//     display: flex;
//     background-color: #97c0c0;
//     // text-align: center;
//     align-items: center;
//     justify-content: center;
//     border-radius: 3px;
// }
// form.addBookForm {
//     flex: 100%;
//     border: 1px solid #000;
//     padding: 5px;
//     display: flex;
//     flex-direction: column;
//     justify-items: center;
//     input{
//         flex:50%;
//         margin-bottom: 3px;
//     }
//     div{
//         flex:50%
//     }
// }