$borderBox :1px solid #cee4e4;
$borderRadiusBox: 4px;
$bgBox :azure;


.mainAdd {
    display: flex;
    flex-direction: column;
    background: #101939;
    padding: 12px 6px;

    nav {
        width: 100%;
        height: 40px;
        // margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        a {
            height: 35px;
            width: 250px;
            margin: 0 1px;
            text-decoration: none;
            background: #1f316f;
            border-radius: 8px 8px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #37F67A;
            font-size: 18px;
        }

        .MA_active {
            //mainAdd
            background: #2C52A5;
            border: 2px solid #3460C1;
            border-bottom: none;
            position: relative;
            z-index: 2;
        }

        .MA_passive {
            //غیر فعال
            color: #24ab79;
        }

        // a.a_lessonSec {
        //     color: #167378;
        // }
    }

    .content_mainAdd {
        margin: -4px 0 0;
        padding: 20px 8px;
        background-color: #2C52A5;
        border-top: 2px solid #3460C1;
        border-radius: 4px;
    }
}

.sectionAED {
    .showNameBook {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 8px 0;

        .line {
            width: 100%;
            height: 1px;
            border: 1px solid #273E8C;
        }

        .nameBook {
            position: relative;
            z-index: 3;
            margin-top: -14px;
            background: #273E8C;
            color: #f5db5e;
            width: fit-content;
            padding: 1px 150px 0;
            border-radius: 13px;
        }
    }

    .navAED {
        width: 100%;
        height: 35px;
        // margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        a {
            height: 30px;
            width: 200px;
            margin: 0 1px;
            text-decoration: none;
            background: #1f316f;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            border-radius: 5px 5px 0 0;
        }

        .SAED_active {
            //sectionAddEditDelete
            color: #A4D4DB;
            background: #273E8C;
            border: 2px solid #3B8A96;
            border-bottom: none;
            position: relative;
            z-index: 2;
        }

        .SAED_passive {
            color: #77a6ce;

        }
    }

    .SAED_content {
        //sectionAddEditDelete
        min-height: 360px;
        margin: -4px 0 0;
        background: #273E8C;
        border-top: 2px solid #3B8A96;
        border-radius: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: column;

    }
}

.select_book {
    width: 360px;
    margin: 90px auto 0;


    button {
        width: 100%;
        direction: rtl;
        background: #0067b1;
    }

    button:focus {
        background: #0067b1;

    }

    ul {
        width: 100%;
        max-height: 230px;
        overflow: auto;
        // overflow: visible;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            height: 40px;
            padding: 11px 8px;
            cursor: pointer;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-bottom: 1px solid antiquewhite;
        }

        li:hover {
            background-color: #c3daec;
        }
    }

    // نماد انتظار 
    .select_spinner {
        padding: 2.70px 0;
    }

    .seletct_alert {
        color: $orange-500;
        text-align: center;
        padding: 3px 0;
    }
}

// ترتیب نمایش بخش ها
.select_ordering {
    width: 500px;
    margin-top: 0;
    margin-bottom: 30px;
}

// add and edit form
// .AES_form : add and edit for sentence
.AE_Form,
.AES_form {
    width: 400px;
    margin: 40px 0;
    padding: 0 62px 25px;
    display: flex;
    flex-direction: column;
    // direction     : rtl;
    background: #30356f;
    border-radius: 6px;

    .formAlert {
        // دیو آلرت میزبان دیو موفقیت ثبت و یا خطاهای دیتابیس وامثالهم
        min-height: 25px;
        padding: 3px;
        margin: 5px 0 3px;
        border-radius: 2px 2px 0 0;
        font-size: 12px;
    }

    // .input_text {
    //     // direction: rtl;
    // }

    ::placeholder {
        color: #cacaca;
        text-align: right;
    }

    .formError {
        // استایل دیو خطا، این دیو میزبان دیو خطا می‌باشد
        min-height: 25px;
        padding: 3px 0;
        margin: 2px 0 5px;
        color: #e90d0d;
        border-radius: 0 0 2px 2px;
        font-size: 12px;
    }

    .btn_form {
        margin-bottom: 12px;
    }

    .btn_form_danger {
        color: #e7e6e6;
    }
}

.AES_form {
    width: 800px;
}

//add and edit from with tinymic
.AET_form {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // direction     : rtl;

    .formAlert {
        // دیو آلرت میزبان دیو موفقیت ثبت و یا خطاهای دیتابیس وامثالهم
        width: 500px;
        min-height: 25px;
        padding: 3px;
        margin: 5px 0 3px;
        border-radius: 2px 2px 0 0;
        font-size: 12px;
    }

    .input_text {
        width: 500px;
        // direction: rtl;
    }

    ::placeholder {
        color: #cacaca;
        text-align: right;
    }

    .labelTextarea {
        width: 500px;
        display: inline-flex;
        padding: 0 8px;
        background-color: #bfd9d9;
        border-radius: 20px 20px 0 0;
        justify-content: center;
    }

    .btn_form {
        width: 250px;
        margin-bottom: 10px;
    }

    .btn_form_danger {
        color: #e7e6e6;
    }

    .formError {
        // استایل دیو خطا، این دیو میزبان دیو خطا می‌باشد
        width: 500px;
        min-height: 25px;
        padding: 3px 0;
        margin: 2px 0 5px;
        color: #e90d0d;
        border-radius: 0 0 2px 2px;
        font-size: 12px;
    }
}




.chunk {
    width: 100%;
    margin-top: 10px;
    padding: 2px 5px 5px 5px;
    background-color: $bgBox;
    border: $borderBox;
    border-radius: $borderRadiusBox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    // background-color: blue;
    display: flex;
    margin-bottom: 5px;

    // flex-direction: row;
    h6 {
        padding: 3px 8px 3px 15px;
        background-color: #cce4e4;
        border-radius: 4px;
    }
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.Cright,
.Cleft,
.Ccenter {
    width: 350px;
    background-color: #e2eeee;
    border-radius: 3px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Ccenter {
    width: 100%;
    padding: 0 20px;
    align-items: flex-end;
}

.dis {
    // توضیحات فرم
    width: 200px;
    margin-top: 5px;
    background-color: #f5ffff;
    color: #3d3d8d;
    border-radius: 2px;
    text-align: center;
    direction: rtl;
}

.contentTitle {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97c0c0;
    border-radius: 3px 3px 0 0;
}

.Ccenter2 {
    align-items: center;

    .dis {
        width: calc(50% - 10px);
    }
}

// .select_book {
//     width     : 200px;
//     margin-top: 40px;

//     button {
//         width    : 100%;
//         direction: rtl;
//     }

//     ul {
//         width      : 100%;
//         max-height : 230px;
//         overflow   : auto;
//         // overflow: visible;
//         margin     : 0;
//         padding    : 0;

//         li {
//             width     : 100%;
//             padding   : 2px 0;
//             cursor    : pointer;
//             text-align: center;
//         }

//         li:hover {
//             background-color: #c3daec;
//         }
//     }

// // نماد انتظار 
// .select_spinner {
//     padding: 2.70px 0;
// }

// .seletct_alert {
//     color     : $orange-500;
//     text-align: center;
//     padding   : 3px 0;
// }
// }


/**
ویرایش یا حذف گروه
*/

.editDelete {
    width: 100%;
    margin: 70px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.whichGroup {
        margin-bottom: 10px;
        color: #345063;

        span {
            color: #1e6fa5;

        }
    }

    div.buttonEditDelete {
        width: 200px;
        display: flex;
        justify-content: space-evenly;

        button.edit_group {
            width: 80px;
        }

        button.delete_group {
            width: 80px;
        }
    }
}

.swalDelete {
    direction: rtl;

    div.bold {
        color: #c59c6b;
        font-size: 24px;
    }
}

.addBookForm,
.addLessonForm,
.addLessonSecForm,
.addWordForm,
.addSentenceForm {
    width: 200px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    direction: rtl;

    .formAlert {
        // دیو آلرت میزبان دیو موفقیت ثبت و یا خطاهای دیتابیس وامثالهم
        min-height: 25px;
        padding: 3px;
        margin: 5px 0 3px;
        border-radius: 2px 2px 0 0;
        font-size: 12px;
    }

    .input_text {
        direction: rtl;
    }

    ::placeholder {
        color: #cacaca;
    }

    .formError {
        // استایل دیو خطا، این دیو میزبان دیو خطا می‌باشد
        min-height: 25px;
        padding: 3px 0;
        margin: 2px 0 5px;
        color: #e90d0d;
        border-radius: 0 0 2px 2px;
        font-size: 12px;
    }
}

.addLessonSecForm {
    width: 100%;

    input {
        width: 200px;
    }

    textarea {
        width: 100%;
        border: 1px solid #bfd9d9;
        padding: 1px;
    }
}

.addSentenceForm {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .sentenceAlert {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sentenceFormItem {
        width: calc(50% - 10px);
        margin: 0 5px;
        text-align: center;
    }

    .sentenceFormItem:nth-last-child(1) {
        input {
            width: 50%;
        }
    }
}

.labelTextarea {
    width: 200px;
    display: inline-flex;
    padding: 0 8px;
    background-color: #bfd9d9;
    border-radius: 4px 4px 0 0;
}

// نمایش آنلاین محتوای تایپ شده در ادیتور
.editorVal {
    margin-bottom: 3px;
    padding: 4px 2px;
    background-color: #fff;
    direction: rtl;
}

.success {
    // مورد استفاده هنگامی که فرم به درستی ثبت می شود
    width: 100%;
    padding: 0 8px;
    color: #026d37;
    background-color: #9bf7c9;
    text-align: center;
}

.error {
    // مورد استفاده هنگامی که خطایی در فرم ایجاد می‌شود
    width: 100%;
    padding: 0 8px;
    color: #e90d0d;
    background-color: #fcc9c9;
    text-align: right;
}

.errorSentence {
    text-align: center;
}

// استایل صفحه لینک
.allBodyLink {
    padding: 25px 4px;
}

.showLinks {
    width: 100%;
    display: grid;

}

.titleShowLinks {
    background-color: #3e6bb9;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1px 0;
    border-radius: 15px 15px 0 0;
    color: #d7d39c;
    font-size: 20px;
}

.bodyShowLinks {
    max-height: 200px;
    min-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.listLinks {
    background-color: #ffff;
}

.notBooks {
    text-align: center;
    background: #f5deb3;
    color: #a52a2a;
    margin: 2px;
}

.headShowLikns,
.rowLink {
    width: 100%;
    direction: rtl;
    display: grid;
    grid-template-columns: 20% 31% 35% auto;
    column-gap: 2px;

}

.headShowLikns {
    background-color: #cac6c3;
    color: #7b7878;
    border-radius: 5px 5px 0 0;
    position: sticky;
    top: 0;
}

.HSL_book,
.HSL_lesson,
.HSL_lessonSec,
.HSL_del {
    background-color: #d1d8df;
    display: grid;
    justify-content: center;
    padding: 2px;
    font-size: 20px;
}

.HSL_book {
    border-radius: 0 5px 0 0;

}

.HSL_del {
    border-radius: 5px 0 0 0;

}


.rowLink {
    background-color: #b6b576;
    color: #636363;
    padding: 0 0 1px 0;
}

.RL_book,
.RL_lesson,
.RL_lessonSec,
.RL_del {
    background-color: white;
    display: grid;
    justify-content: center;
    padding: 2px;
}

.RL_delBtn {
    background-color: brown;
    color: #cac6c3;
    height: 20px;
    width: 75px;
    display: grid;
    justify-content: center;
    align-items: center;
}


/* قسمت ایجاد لینک جدید */
.addLink {
    width: 100%;
    margin-top: 65px;
}

.bodyAddLinks {
    width: 100%;
    background-color: #1f316f;
    padding: 35px 15px;
}


.headListBooks {
    width: 100%;
    background-color: #cac6c3;
    padding: 2px;
    font-size: 18px;
    display: grid;
    justify-content: center;
    color: #1235bf;
    border-radius: 3px 3px 0 0;
}

.bodyListBooks {
    width: 100%;
    background-color: white;
    padding: 15px 5px;
    direction: rtl;
    display: grid;
    column-gap: 1%;
    grid-template-columns: repeat(4, 24.3%);
    row-gap: 8px;

}

.book,
.bookNotLesson {
    width: auto;
    height: 35px;
    min-width: 90px;
    padding: 3px 6px;
    display: grid;
    justify-items: center;
    align-items: center;
    direction: rtl;
    grid-template-columns: 25px 90%;
    background-color: #cac6c3;
    border: 2px solid #adacac;
    border-radius: 5px 3px 3px 5px;
    cursor: pointer;
}

.book:hover {
    background-color: #acb6ee;
}

.bookNotLesson {
    cursor: not-allowed;
    background-color: #e0a5a5;
}

.selectedBook {
    background-color: #32c58f;
    color: #01582d;
}

.stateBook {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #adacac;
    border-radius: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.notShowLink {
    display: none;
}

.nameBook {
    padding: 0 4px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    /* background-color: white; */
    line-height: 24px;
    text-align: center;
}

.bodyAddBooks {
    width: 100%;
    background-color: white;
    padding: 20px 5px;
    direction: rtl;
    display: grid;
    column-gap: 12px;
    grid-template-columns: repeat(3, auto);
    row-gap: 18px;
    z-index: 1;
}

.notSelectBook {
    text-align: center;
    color: brown;
    font-size: 18px;
    background-color: wheat;

    span {
        color: #1235bf;
    }
}

.listLessons {
    width: auto;
    max-height: 240px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #c9cbcc;
    direction: ltr;
    border: 1px solid #878888;
}

.spinnerAddLesson {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    opacity: 0.7;
    z-index: 2;
}

.itemNameBook {
    height: 25px;
    line-height: 25px;
    position: sticky;
    top: 0;
    background-color: #80ae93;
    color: #5d2762;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    direction: rtl;
}


.itemLesson,
.itemLessonNotLessonSec,
.itemCurrentLesson,
.itemOldLinkLesson {
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    padding-right: 8px;
    background-color: #e7e9eb;
    direction: rtl;
    display: grid;
    grid-template-columns: 25px auto;
    align-items: center;
    cursor: pointer;
}

.itemLesson:hover {
    background-color: #dadbdd;
}

.itemLessonNotLessonSec {
    cursor: not-allowed;
    background-color: #e0a5a5;
}

.itemCurrentLesson {
    cursor: not-allowed;
    background-color: #b6e4f0;
}

.itemOldLinkLesson {
    cursor: not-allowed;
    background-color: #eaf0b6;
}

.noItemLesson {
    width: 100%;

    div {
        text-align: center;
        color: brown;
        font-size: 14px;
        background-color: wheat;
    }
}

.itemLessonState {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #adacac;
    border-radius: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.itemLessonName {
    text-align: center;
    width: auto;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}

.bodyEndAdd {
    padding: 15px 5px;
    background-color: #e7eff2;
}

.endAdd {
    width: 100%;
    height: 42px;
    margin-top: 10px;
    display: grid;
    justify-items: center;
}

.btnEndAdd {
    width: 450px;
    height: 40px;
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    z-index: 1;
}

.spinnerEnd {
    width: 100%;
    height: 42px;
    padding-top: 5px;
    background-color: white;
    opacity: 0.8;
    position: relative;
    top: -42px;
    z-index: 2;

}

.notShowSPE {
    display: none;
}

// .showListLink {
//     width              : 100%;
//     padding            : 20px;
//     // background-color: aquamarine;

//     .titleListLink {
//         background-color: #3e6bb9;
//         width           : 50%;
//         margin          : 0 auto;
//         text-align      : center;
//         padding         : 1px 0;
//         border-radius   : 15px 15px 0 0;
//         color           : #d7d39c;
//     }

//     .bodyListLink {
//         background   : #979595;
//         width        : 100%;
//         border-radius: 5px 5px 0 0;
//         max-height   : 70px;
//         overflow     : scroll;
//         overflow-x   : hidden;
//         overflow-y   : auto;

//         .headListLink,
//         .listLink {
//             // background-color     : #dfdcda;
//             width                : 100%;
//             direction            : rtl;
//             display              : inline-grid;
//             grid-template-columns: 20% 31% 35% auto;
//             column-gap           : 2px;
//         }

//         .headListLink {
//             background-color: #cac6c3;
//             color           : #626262;
//             border-radius   : 5px 5px 0 0;

//             .Hlink_nameBook,
//             .Hlink_nameLesson,
//             .Hlink_nameLessonSection,
//             .Hlikn_delLink {
//                 text-align      : center;
//                 background-color: #dfdcda;
//             }
//         }

//         .listLink {
//             background-color: #cac6c3;
//             margin          : 2px 0;
//             padding         : 2px 0;
//             color           : black;

//             .link_nameBook,
//             .link_nameLesson,
//             .link_nameLessonSection,
//             .link_delete {
//                 text-align      : center;
//                 background-color: white;


//             }

//             .link_delete {
//                 .link_btnDel {
//                     width      : 75px;
//                     height     : 25px;
//                     padding    : 2px 0;
//                     line-height: 17px;
//                     color      : #cac6c3;
//                 }
//             }

//         }




//     }
// }

// .sBTitle{
//     flex: 100%;
//     display: flex;
//     flex-direction: row-reverse;
//     // order: 1;
//     // flex-grow: 3;
//     h6{
//         padding:3px 8px 3px 15px;
//         background-color: #cce4e4;
//         border-radius: 4px;
//     }              
// }
// .sBRight , .sBLeft{
//     width: 350px;
//     padding: 0;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     text-align: center;
//     // flex: 200px;
// }
// .sBRight {
//     select{
//         margin: 8px auto;
//     }
// }
// .sBLeft{
//     form{
//         display: flex;
//         flex-wrap: wrap;
//         margin: 8px auto;
//     }
// }
// .sBRAndLTitle{
//     flex: 100%;
//     height: 40px;
//     display: flex;
//     background-color: #97c0c0;
//     // text-align: center;
//     align-items: center;
//     justify-content: center;
//     border-radius: 3px;
// }
// form.addBookForm {
//     flex: 100%;
//     border: 1px solid #000;
//     padding: 5px;
//     display: flex;
//     flex-direction: column;
//     justify-items: center;
//     input{
//         flex:50%;
//         margin-bottom: 3px;
//     }
//     div{
//         flex:50%
//     }
// }